backend/.env
backend/serviceAccountKey.json
backend/staticfiles
backend/templates
backend/memberssistant/__pycache__
backend/memberssistant/migrations/__pycache__
backend/static/
backend/.sqlite3
backend/db.sqlite3
backend/api/__pycache__/*.pyc
backend/api/migrations/__pycache__
backend/env/

backend/api/migrations/__pycache__/0008_block_gender.cpython-314.pyc
backend/api/migrations/__pycache__/0009_remove_block_gender_accommodation_gender_target_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0010_studentprofile_gender.cpython-314.pyc
backend/api/migrations/__pycache__/0011_leavepermit_assigned_attendant.cpython-314.pyc
backend/api/migrations/__pycache__/0012_attendantprofile_fcm_token_landlordprofile_fcm_token_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0013_studentprofile_verification_status.cpython-314.pyc
backend/api/migrations/__pycache__/0014_studentprofile_id_document_url_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0015_studentprofile_applied_accommodation.cpython-314.pyc
backend/api/migrations/__pycache__/0016_landlordprofile_device_id_landlordprofile_face_url_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0017_studentprofile_contract_signed_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0018_remove_studentprofile_contract_signed_and_more.cpython-314.pyc
backend/api/migrations/__pycache__/0019_adminprofile_notification_admin.cpython-314.pyc
*.pyc
*.xcconfig
frontend/web/node_modules/
frontend/web/.next/
frontend/web/.env.local
frontend/web/.env.development.local
frontend/web/.env.production.local

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
